/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  section#main h1 {
    font-size: 70px;
    margin: 100px auto 0px auto; }
  section#main h4 {
    margin-top: 0px;
    margin-bottom: 75px; }

  section#gallery div.col-lg-3 button, section#gallery div.col-lg-9 button {
    display: block;
    margin: 10px auto; }

  footer ul.menu li.ourteam, footer ul.menu li.specialty, footer ul.menu li.news {
    display: none; }
  footer form {
    margin-bottom: 10px; }
    footer form input[type="email"] {
      font-size: 40px;
      max-width: 295px; }
  footer h3 {
    margin: 0px auto 10px auto; }
  footer p {
    margin: 0px auto 0px auto; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  section#main h1 {
    margin: 245px auto 50px auto;
    font-size: 110px; }
  section#main h4 {
    margin: 50px auto 275px auto; }

  section#gallery div.col-lg-3 button, section#gallery div.col-lg-9 button {
    display: block;
    margin: 0px auto; }

  footer ul.menu li.specialty, footer ul.menu li.news {
    display: inline; }
  footer form {
    margin-bottom: 10px; }
    footer form input[type="email"] {
      font-size: 60px;
      max-width: 585px; }
  footer h3 {
    margin: 0px auto 10px auto; }
  footer p {
    margin: 0px auto 0px auto; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  section#gallery div.col-lg-3 button, section#gallery div.col-lg-9 button {
    display: inline;
    margin: 0px auto; }
  footer ul.menu li.specialty {
    display: none;
  }
  footer ul.menu li.news {
    display: inline; }
  footer form {
    margin: 0px auto 50px auto; }
    footer form input[type="email"] {
      max-width: 560px; }
  footer h3 {
    margin: 80px auto 0px auto; }
  footer p {
    margin: 20px auto 30px auto; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    footer ul.menu li.ourteam, footer ul.menu li.specialty, footer ul.menu li.news {
    display: inline; }
  footer form input[type="email"] {
    max-width: 700px; } }
